version: '3.9'
services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: adoptWithLove
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1001
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - postgres
    ports:
      - "8085:8085"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/adoptWithLove
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1001   # ← CONTRASEÑA IGUAL

volumes:
  postgres_data: